.essential {
    padding: 6.5rem 10rem;
    overflow: hidden;
    position: relative;
    border-radius: 4rem;
    background-color: white;
    min-height: 45.8rem;

    &__media {
        right: 0;
        bottom: 0;
        width: 55rem;
        position: absolute;
    }

    &__content {
        z-index: 10;
        width: 60.4rem;
        position: relative;
    }

    &__text {
        max-width: 48rem;
        font-size: 1.65rem;
    }

    &__header {
        font-weight: 700;
        font-size: 4rem;
        line-height: 90%;
        margin-bottom: 2rem;
        font-family: var(--ff-title);

    }

    &__text {

        p {

            &:not(:last-child) {
                margin-bottom: 2.4rem;
            }
        }
    }

    @media (max-width: $tablet) {
        padding: 0;
        border-radius: 2rem;

        &__content {
            width: 100%;
            padding: 2rem 2rem;
        }

        &__header {
            font-size: 3.4rem;
            line-height: 90%;
        }

        &__media {
            width: 100%;
            right: auto;
            position: relative;
        }

        &__text {
            max-width: inherit;
            font-size: 1.4rem;
            line-height: 160%;
        }
    }

    @media (max-width: $mobile) {
        border-radius: 2rem;

        &__content {
            padding: 2rem 1.5rem;
        }

        &__header {
            font-size: 2.1rem;
            line-height: 90%;
            margin-bottom: 1.5rem;
        }
    }
}
