@import "../components.b/lego/burger.scss";

.header {
    z-index: 800;
    position: relative;
    background-color: white;

    &__container {
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        width: 5.4rem;
        height: 5.4rem;
        display: block;
    }
}

.header-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.6rem;
    line-height: 2.4rem;
    display: flex;
    column-gap: 4rem;
    align-items: center;

    &__link {
        opacity: .5;
        height: 6rem;
        overflow: hidden;
        position: relative;
        color: var(--fg-title);
        text-decoration: none;
        transition: var(--transition-time);
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            opacity: 1;
            color: var(--c-primary);
            text-decoration: none;
            transition: var(--transition-time);
        }

        &.active {
            opacity: 1;
            color: var(--c-primary);

            &:before {
                left: 0;
                right: 0;
                bottom: -5px;
                content: '';
                height: 8px;
                border-radius: 5px 5px 0 0;
                background-color: var(--c-primary);
                position: absolute;
            }
        }
    }
}
