.info {
    color: var(--fg-second);
    border-radius: 2rem;
    background-color: #fff;
    padding: 4rem 5rem 6rem 4rem;

    &__main {
        margin-bottom: 3rem;
        display: flex;
        row-gap: 2.8rem;
        flex-direction: column;
    }

    &__row {
        display: flex;
        column-gap: 4.4rem;
        justify-content: space-between;
    }

    &__col {

        &:first-child {
            width: 36.6rem;
            flex-shrink: 0;
        }

        &:last-child {
            flex-grow: 1;
        }

        &--pt {
            padding-top: 2rem;
        }
    }

    &__question {
        z-index: 10;
        position: relative;
        color: rgba(43, 43, 43, 0.4);
        font-size: 1rem;
        line-height: 1.4rem;
        padding-bottom: 1.6rem;
        margin-bottom: 2.6rem;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(43, 43, 43, 0.2);
    }

    &__header {
        color: var(--fg-title);
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 110%;
        margin-bottom: .9rem;
        font-family: var(--ff-title);
    }

    &__image {
        display: block;
        overflow: hidden;
        border-radius: 2rem;
    }

    &__gray {
        background-color: #F6F8FA;
        border-radius: 3rem;
        padding: 1.5rem 2.4rem;
    }

    &__method {
        font-size: 1.3rem;
        line-height: 125%;
        background-color: #F6F8FA;
        border-radius: 3rem;
        padding: 1.5rem 1rem;
        display: flex;
        align-items: center;
        column-gap: 1.7rem;
    }

    &__badge {
        margin-bottom: 1.2rem;
    }

    &__badge-title {
        margin-bottom: 2rem;
    }

    &__text {

        p {
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }

    &__footer {
        display: grid;
        grid-column-gap: 1.3rem;
        grid-template-columns: 30rem 1fr;
    }

    &__data {
        font-size: 1.5rem;
        line-height: 160%;

        p {
            &:not(:last-child) {
                margin-bottom: 2.4rem;
            }
        }
    }

    &__expert {
        margin-top: 4rem;
        display: flex;
        row-gap: 1.7rem;
        flex-direction: column;

        &--top {
            margin-top: -8.4rem;
        }
    }

    @media (max-width: $tablet) {
        padding: 3rem;

        &__main {
            row-gap: 2.3rem;
        }

        &__row {
            row-gap: 2rem;
            flex-direction: column;

            &:first-child {
                flex-direction: column-reverse;
            }
        }

        &__question {
            display: none;
        }

        &__header {
            font-size: 2.8rem;
            line-height: 110%;
        }

        &__col {

            &:first-child {
                width: 100%;
                flex-shrink: 0;
            }

            &:last-child {
                flex-grow: 1;
            }

            &--pt {
                padding-top: 0;
            }
        }

        &__text {
            font-size: 1.4rem;
            line-height: 160%;
        }

        &__footer {
            grid-row-gap: 1.5rem;
            grid-template-columns: 1fr;
        }

        &__expert {

            &--top {
                margin-top: 0;
            }
        }

        &__data {
            font-size: 1.4rem;
            line-height: 160%;
        }
    }

    @media (max-width: $mobile) {
        padding: 1.5rem 1.5rem 3rem 1.5rem;

        &__main {
            margin-bottom: 1.5rem;
            display: flex;
            row-gap: 2.3rem;
        }

        &__header {
            font-size: 2.4rem;
            line-height: 110%;
        }

        &__text {
            font-size: 1.4rem;
            line-height: 160%;
        }

        &__gray {
            padding: 1.5rem;
        }

        &__method {
            row-gap: 1rem;
            align-items: flex-start;
            flex-direction: column;
        }

        .mb-5 {
            margin-bottom: 1.5rem !important;
        }
    }
}

.info-author {
    display: flex;
    column-gap: 1.7rem;
    align-items: center;

    &__avatar {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        overflow: hidden;
        flex-shrink: 0;
    }

    &__content {
        font-size: 1.2rem;
        line-height: 160%;
    }

    &__name {
        color: var(--fg-title);
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.9rem;
        margin-bottom: .2rem;
    }

    @media (max-width: $mobile) {

        &__avatar {
            width: 7rem;
            height: 7rem;
        }
    }
}


.badge {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 118%;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: var(--ff-title);
    min-height: 3rem;
    padding: .4rem 2.8rem;
    border-radius: 5rem;
    background-color: white;
    display: inline-flex;
    align-items: center;

    &--white {
        color: var(--fg-red);
        background-color: white;
    }

    &--dark {
        color: white;
        background-color: #4B4B4B;
    }

    &--red {
        color: white;
        background-color: var(--fg-red);
    }

    &--blue {
        color: whitesmoke;
        background: var(--c-primary);
    }

    &--sm {
        padding: .4rem 1.4rem;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1rem;
        text-transform: inherit;
    }

    @media (max-width: $mobile) { }
}
