.section {
    margin-bottom: 10rem;

    &--md {
        margin-bottom: 4rem;
    }

    &__header {
        font-weight: 700;
        font-size: 4rem;
        line-height: 4rem;
        margin-bottom: 5rem;
        font-family: var(--ff-secondary)
    }

    &__container {
        max-width:  84rem;
        margin: 0 auto;
    }
}
