.btn-outline-secondary {
    color: rgba(61, 61, 61, 0.3);
    min-height: 6rem;
    padding: 1rem 3rem;
    border-radius: 5rem;
    text-transform: uppercase;
    border: 1px solid rgba(61, 61, 61, 0.3);
    transition: var(--transition-time);

    &:hover {
        color: rgba(61, 61, 61, 1);
        border-color: rgba(61, 61, 61, 1);
    }


    &:active {
        color: rgba(61, 61, 61, .7);
        border-color: rgba(61, 61, 61, 0.7);
    }
}


.btn-outline-primary {
    color: #2B2B2B;
    min-width: 28rem;
    min-height: 7.2rem;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    padding: .8rem 3rem;
    border-radius: 1.1rem;
    background-color: transparent;
    border: 1px solid #2B2B2B;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition-time);

    &:hover {
        color: white;
        text-decoration: none;
        background-color: #2B2B2B;
        transition: var(--transition-time);
    }
}
