.item-info {
    color: var(--fg-second);
    font-size: 1.5rem;
    line-height: 160%;
    display: flex;
    column-gap: 2rem;
    align-items: flex-start;

    &__image {
        width: 10.8rem;
        flex-shrink: 0;
        display: block;
        overflow: hidden;
        border-radius: 2rem;
    }

    p {
        margin-bottom: 2.2rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media (max-width: $tablet) {

    }

    @media (max-width: $mobile) {
        &__image {
            width: 8rem;
        }
    }
}
