:root {
    // Colors
    --c-primary: #79B3CD;
    --c-primary-dark: #639EB8;
    --c-primary-shadow: #639EB8;
    --gradient-primary: radial-gradient(46.8% 50% at 58.93% 50%, var(--c-primary) 0%, var(--c-primary-dark) 100%);

    --c-secondary: #3B99FF;
    --gradient-secondary: linear-gradient(164deg, #8CC7E1 1.46%, #79B3CD 102.79%);

    --fg-regular: #2F3C4F;
    --fg-second: rgba(43, 43, 43, 0.7);
    --fg-third: #242729;
    --fg-caption: #b3b4b5;
    --fg-on: #fff;
    --fg-title: #2B2B2B;
    --fg-red: #DD5959;

    // BGs
    --bg-app: #EEE9E3;
    --bg-section-light: #fff;
    --bg-card: #F7F4F1;
    --bg-card-dark: #383838;
    --bg-beige: #F2F1EF;

    // nomads
    --c-error: #FF3b30;
    --c-success: #34C759;
}

